* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.component-shadow {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* navbar */
.primary-navbar {
    background-color: #92b4ec !important;
}
.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

