.footer {
    width: 100%;
    height: auto;
    background-color: #92b4ec;
    padding: 10px;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contact-info,
.quick-links,
.contact-form {
    padding: 5px;
}
.email-info,
.address-info,
.phone-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.footer-heading{
    color: #ffffff;
}
.quick-links ul{
    list-style-type: none;
}
textarea {
    resize: none;
}
.submit-btn {
    background-color: #ffffff;
}
