.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: #cdf0ea;
    padding: 10px;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contact-info,
.quick-links,
.contact-form {
    padding: 5px;
}
.email-info,
.address-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-size: 1.2rem;
}
textarea{
    resize: none;
}
.submit-btn{
    background-color: #a1eafb ;
}